<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Ansible Test Content">
  <meta name="author" content="Ansible">
  <title>Welcome to Ansible</title>
</head>
<body>
  <h1>Ansible Home Page on server: {{ ansible_hostname }}</h1>
</body>
</html>